
.App-firstPart {
  background-color: #282c34;
  color: white;
  margin: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-top: 5%;
}
#nav-images{
  display: flex;
  justify-content: space-between;
  
}
.headline-title #head-title{
  font-size: 5rem;
  width: 50%;
}

.Gallery{
  display: flex;
  flex-direction: row;
  padding: 10%;
  margin: 2%;
}

.headline-title #p-headline{
  font-size: 2rem;
  width: 50%;
}

#p-icons{
  width: 60%;
}

button{
  padding: 2%;
  font-size: medium;
}






